@charset "utf-8";

*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style-type: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

div#mainContainer {
    margin: 0 auto;
    padding: 20px;
}

/*header css*/
#header {
    position: relative;
    padding: 20px;
    width: 100%;
}

#headerLogin{
    float: right;
}

#headerLogin ul li{
    list-style: none;
    color: black;
    background: white;
    float: right;
    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
}

#headerLogin .login-menu{
    text-decoration: none;
    color: black;
    display: block;
    width: 100px;
}

#header .logo{
    position: center;
    color: darkslateblue;
    font-size: 50px;
    font-weight: bold;
}

/*#headerLogout{*/
/*    float: right;*/
/*}*/

/*#headerLogout ul li{*/
/*    list-style: none;*/
/*    color: black;*/
/*    background: white;*/
/*    float: right;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*}*/

/*#headerLogout .logout-menu{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    display: block;*/
/*    width: 100px;*/
/*}*/
/*nav css*/
nav#nav-menu {
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

nav#nav-menu ul li {
    list-style: none;
    color: black;
    background: white;
    float: left;
    vertical-align: middle;
    text-align: center;
}

#nav-menu .nav-menu {
    text-decoration: none;
    color: black;
    display: block;
    width: 180px;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

/*contents css*/
#contents {
    float: left;
    padding: 20px;
    height: 500px;
    width: 100%;
}


/*RSB contents*/
/*#rightSideBar {
    float: right;
    background: khaki;
    width: 15%;
}*/


/*footer contents*/
#footer {
    background: antiquewhite;
    padding: 20px;
    clear: both;
    margin-top: 3000px;
}

.best_bg{
    background-image: url("image/bestimg.jpg");
    background-size: auto;
    background-position: center;
    height: 100%;
    width: 100%;
}

.best_intro{
    text-align: center;
    padding-top: 151px;
    font-size: 30px;
    color: white;
}

/*상품 목록 페이지*/
.clear{
    clear: both;
}

#contents .box{
    margin-top: 100px;
    width: 100%;
    /*고쳐라*/
}

.best_items{
    width: 270px;
    height: 380px;
    float: left;
    margin: 50px 0 60px 40px;
    padding-left: 40px;
}

.box > h2{
    text-align: center;/*고쳐라*/
    font-size: 30px;
}

.a{
    font-size: 18px;
}

.b{
    font-weight: bold;
    font-size: 14px;
}

.c{
    float: right;
    font-weight: bold;
    font-size: 13px;
    color: darkslateblue;
}