<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SweetHome</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <script src="../js/cookieSession.js"></script>
    <script src="../js/includeHTML.js"></script>
</head>
<body>
<div id="mainContainer">

    <header id="header">
        <div id="headerLogin">
            <ul>
                <li><a class="login-menu" id ="registerBtn" href="register.html">회원가입</a></li>
                <li><a class="login-menu" id ="loginBtn" href="login.html">로그인</a></li>
                <li><a class="login-menu" id ="logoutBtn" onclick="logout()">로그아웃</a></li>
                <li><a class="login-menu" id ="bagBtn" href="mybag.html">장바구니</a></li>
                <li><a class="login-menu" id ="profileBtn" href="userProfile.html">내 정보</a></li>
            </ul>
        </div>

        <div id="logo">
            <h1><a href="index.html">Sweet Home</a></h1>
        </div>

    </header>

    <nav id="nav-menu" include-html="./layout/nav_menu.html"></nav>

    <section id="contents">
        <form id="login-form">
            <input id="loginUserId" type="text" placeholder="Name"/>
            <input id="loginPassword" type="password" placeholder="Password"/>
            <button type="button" id="loginButton" onClick="login()">login</button>
            <a href="findUser.html">아이디/비밀번호를 잊었습니까?</a>
        </form>

    </section>

    <aside id="rightSideBar" include-html="./layout/rightSideBar.html"></aside>

    <footer id="footer" include-html="./layout/footer.html"></footer>
</div>


</body>
<script>
    includeHTML();
    changeLoginBtn();
</script>
<script src="../js/manageUser.js"></script>
</html>
