<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#ffffff">
    <title>SweetHome</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <script src="https://kit.fontawesome.com/cf795c31b2.js"
            crossorigin="anonymous"></script>
    <script src="../js/includeHTML.js"></script>
    <script src="../js/cookieSession.js"></script>
    <script src="../js/render.js"></script>
</head>
<body>
<div id="mainContainer">
    <header id="header">
        <div id="headerLogin">
            <ul>
                <li><a class="login-menu" id ="registerBtn" href="register.html">회원가입</a></li>
                <li><a class="login-menu" id ="loginBtn" href="login.html">로그인</a></li>
                <li><a class="login-menu" id ="logoutBtn" onclick="logout()">로그아웃</a></li>
                <li><a class="login-menu" id ="bagBtn" href="mybag.html">장바구니</a></li>
                <li><a class="login-menu" id ="profileBtn" href="userProfile.html">내 정보</a></li>
                <li><a class="login-menu" id="csBtn" href="CScenter.html">고객센터</a></li>
            </ul>
        </div>
        <div id="logo">
            <h1><a href="index.html">Sweet Home</a></h1>
        </div>
    </header>

    <nav id="nav-menu" include-html="./layout/nav_menu.html"></nav>

    <section id="contents">
        <div class="best_bg">
            <div class="best_intro">
                <h2>SweetHome</h2>
                <h2>TOP PRODUCT</h2>
            </div>
        </div>
        <div id = "divBox" class="box">
            <h2>전체상품</h2>
            <div class="clear"></div>

            <button type="button" onclick="getChooseItem()">장바구니 담기</button>

        </div>

    </section>

    <!-- <aside id="rightSideBar" include-html="./layout/rightSideBar.html"></aside> -->

    <footer id="footer" include-html="./layout/footer.html"></footer>
</div>
</body>

<script>
    includeHTML();
    changeLoginBtn();
    renderTop();
</script>
<script src="../js/manageItem.js"></script>

</html>
